h1 > a:hover, h3 > a:hover {
    color: darken($treePoppy, 15%);
    text-decoration: undeline;
}

h2 > a:hover {
  color: darken($violetEggplant, 15%);
  text-decoration: underline;
}

h4 > a:hover {
  color: darken($textColor, 15%);
  text-decoration: underline;
}