@media (max-width: 767px) { 
	
	    #uplift-header #catNav {
        margin: 2em 0 0 0;
        width:100%;
    }
        
    #sidebar {
        @include border-radius(10px);
        margin:0;
    }

    #happy-little-trees {
        display: none;
    }
    
}


/* Landscape phones and down */
@media (max-width: 639px) {
  
    article .postImage img {
	 @include border-radius(0);
	}
	
}
