/**** HEAD LAYOUT ****/
.header {
  //.clearfix;
  #caringbridge_header_logo {
    margin: 0 $baseFontSize $baseFontSize 0;
    a.brand {
      display: inline-block;
      //.ie7-inline-block();
      margin: ($baseFontSize * .5) ($baseFontSize * .5) ($baseFontSize * .5) $baseFontSize;
    }
  }
  #profile-links {
    ul.dropdown-menu {
      left: auto;
      right: 0;
    }
  }

  #account-links {
    padding: 1em;
    li {
      margin-left: 1em;
    }
  }
}

.page {
  background: $white;
  @include box-shadow(0, 0, 9px, 4px, #ccc);
  margin-bottom: 17px;
}