/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@function asset-path($path, $type) {
    @return url("../" + $type + "/" + $path);
}

@function image-path($path) {
    @return asset-path($path, "img");
}

@function font-path($path) {
    @return "../fonts/" + $path;
}

@function brand-asset-path($path, $type) {
    @return url("../vendor/caringbridge/brand/public/" + $type + "/" + $path);
}

@import "variables";
@import "compass";
@import "bootstrap";
/* END - Required Order! */

@import url('../fonts/fonts.css');

@import "bootstrap-responsive";
@import "compass/typography/lists/inline-list";

/* Additional files below: */
@import "icons";
@import "type";

@import "buttons";

body {
    color: $abbey;
    padding-bottom: 5em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: locator, Arial, Helvetica, Verdana, sans-serif;
}


div.container-fluid {
    max-width: 960px;
    min-width: 311px; /* width of logo plus left and right margin */
    margin: 0 auto;
}

@mixin pull-left {
    float:left;
}

.clearfix {
    @include pie-clearfix;
}

.page {
    background: none repeat scroll 0 0 $white;
    box-shadow: 0 0 9px 4px #ccc;
    position: relative; /* Allow z-index to work */
    z-index: 100; /* Allows box shadow to spread to surrounding divs */
}

.header {
    @include pie-clearfix;

    nav#global {
        @include pie-clearfix;
        background: #eee;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        color: #437ccb;
        margin: 0 0 1em;
    
        ul#global-access {
            @include inline-list;
            @include pull-left;
            
            li a {
                color: #437CC8;
                display: inline-block;
                padding: 0.4em 0.8em;
                text-decoration: none;
            }
            
            li a:hover {
                background-color: #ccc;
                text-decoration: none;
            }
        }
    }
    
    div#caringbridge_header_logo {
        @include pull-left;
        margin: 0 13px 13px 0;
        
        a.brand {
            display: inline-block;
            margin: 6.5px 6.5px 6.5px 13px;
        }
    }
    
    .btn-donate {
        @include btn-donate;
    }
}

nav#hybrid_site_navigation {
    @include pie-clearfix;
    margin-left:13px;
    padding-bottom:9px;
    
    ul#primarynav {
        @include inline-list;
        @include pie-clearfix;
        padding-left: 0;
        
        li {
            a {
                color: $indigo;
                font-family: locator,Arial,Helvetica,sans-serif;
                font-size: 14px;
                font-weight: bold;
                padding: 3px 1em 3px 0;
                text-transform: lowercase;
                text-decoration: none;
            }
            a:hover {
                color: $violetEggplant;
            }
        }
    }
}

/**** Uplift header ****/
#uplift-header {
    margin-top: 15px;
    margin-bottom: 2em;

    .uplift-logo-container {
        line-height: 68px;
        vertical-align: baseline;
    }

    .widgets {
        line-height: 68px;
        font-size: 13px;
        font-family: locator-display, Arial, Helvetica, sans-serif;
        text-align: right;
        vertical-align: bottom;
        
        a {
            @include inline-block;
            background-color: transparent;
            background-position: 0 0;
            background-repeat: no-repeat;
            height: 32px;
            margin: 0 0 0 1ex;
            width: 32px;

            span {
                display: none;
            }
        }

        a.facebook {
            background-image: brand-asset-path('icon-facebook.png', 'images/icons');
        }

        a.twitter {
            background-image: brand-asset-path('icon-twitter.png', 'images/icons');
        }

        a.googleplus {
            background-image: brand-asset-path('icon-googleplus.png', 'images/icons');
        }

        a.youtube {
            background-image: brand-asset-path('icon-youtube.png', 'images/icons');
        }
    }
}

#happy-little-trees {
    background-color: #fff url(../img/blog-BG-repeater.png) bottom left repeat-x;
    @include background(url(../img/blog-BG-repeater.png) bottom left repeat-x, #fff );
    height: 309px;
}

hr { /**hides light grey horizontal rules from brand style sheets.**/
	border:0;
}

section.author-info {
    h1 {
        font-size: 20px;
        line-height: 30px;
        margin: 0;
    }
}

article {
    margin: 0 0 2em 0;
    h1 {
        color: $violetEggplant;
        font-size: 22px;
        line-height: 1.2em;
        margin: 0 0 0;
        a {
            color: $violetEggplant;
        }
    }

    h2 {
        color: $treePoppy;
        font-size: 18px;
        line-height:1.2em;
        margin: 0;
    }
}

p.comment-form-comment {
    textarea#comment {
        width: 100%;
    }
}

/** Sidebar **/

@mixin sidebar-box {
    @include border-radius(10px);
    background-color: $white;
    padding: 1em 4%;
    width:auto;
}

#sidebar {
	background-color: #f8971d url(../img/sidebar-BG.png) bottom center repeat-x;
	@include background(url(../img/sidebar-BG.png) bottom center repeat-x, linear-gradient(left,  #f8971d 0%,#f4b34d 96%,#f8971d 100%) );
	@include border-bottom-radius(10px);
	min-height:655px;
	padding: 1em;
	margin:0 12px;
	
    ul {
        margin: 0;
        list-style:none;
        
        li {
            margin-bottom: 1em;
            
            h1, h2, h3 {
                font-family: 'locator-display';
                font-size: 18px;
                line-height: 32px;
                margin:0 0 0 12px;
               
            }
            
            
            .searchFormContainer {
	            text-align:right;
            }
            
            .screen-reader-text {
	            text-indent: 100%;
	            white-space: nowrap;
	            overflow: hidden;
	       }

            form#searchform {
                input[type=text] {
                    width:95%;
                    display: block;
                    @include border-radius(10px);
                    font-family: locator, Arial, Helvetica, Verdana, sans-serif;
                    padding:5px;
                }
            }

            .textwidget {
                @include sidebar-box;
            }
            
            .tagcloud {
                @include sidebar-box;
            }
        
            /** Twitter Widget **/
            
            &.TwitterBadgeWidget {
	           background: url(../img/twitBird.png) 95% 100% no-repeat;
	           padding:0 0 40px 0;
	           margin: 36px 0 0 0;
	           
	        }
            

            .TBW_Narrow, .TBW_Wide {
	            @include sidebar-box;
	        }
            
            .TBW_Status {
                padding: 0;
                margin: 0;
            }
        
            .TBW_Picture {
                display:none !important;
            }
            
            .TBW_Data {
               
                margin-left: 0 !important;
            }
            
            .TBW_Follow {
	            font-family: 'locator-display';
	            font-weight:bold;
	       
	            
            }
           
        }
    }
}


#searchsubmit {
	@include btn-primary;
	margin-right:3%;
}

footer#brand-footer {
    @include pie-clearfix;
    
    nav#fat-footer {
        .fat-footer-links {
            display: inline-block;
            margin: 0 0.5em 1em 0;
            text-transform: lowercase;
            vertical-align: top;
            
            h4 {
                color: #545559;
                font-size: 18px;
                line-height: 18px;
                a {
                    color: $indigo;
                }
            }
            ul {
                margin: 0;
                list-style: none;
            }
            
            a {
                display: block;
                padding: 1px 13px;
            }
        }
    }
    
    ul#social-media {
        @include inline-list;
        float: right;
        
        a {
            background-color: transparent;
            background-position: 0 0;
            background-repeat: no-repeat;
            display: block;
            float: left;
            height: 32px;
            margin: 0 1ex 0 0;
            width: 32px;
            
            span {
                display: none;
            }
        }
        
        a.facebook {
            background-image: brand-asset-path('icon-facebook.png', 'images/icons');
        }
        
        a.twitter {
            background-image: brand-asset-path('icon-twitter.png', 'images/icons');
        }
        
        a.googleplus {
            background-image: brand-asset-path('icon-googleplus.png', 'images/icons');
        }
        
        a.youtube {
            background-image: brand-asset-path('icon-youtube.png', 'images/icons');
        }
        
    }
    
    ul.privacy-seals {
        float: left;
        @include inline-list;
        li a {
            padding: 0 1em 0 0;
            text-decoration: none;
        }
    }
}

@import "responsive";
