.btn-cmsColored {
  color: #fff;
  border-width: 1px;
  border-style: solid;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  @include transition(.3s ease-out background);

  &:hover, &:focus {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  }
}
