// Overwrite the bootstrap columns in content region .shared-story for the 'Gallery' template:
//'Gallery' uses the Pintrest-inspired disappearing columns as it sizes down, so the grid isn't necessary.
.gallery {
  .tribox-shared-story {
    .well {
      .row {
        .col-xxs-6 {
          width: 100% ;
        }
      }
    }
  }
}

// Have the image in content region .static-hero hug the bottom of the .row div if the copy to its left is taller
// Only applicable when the .static-hero is 2 columns
@media screen and (min-width: $screen-md) {
  .hero-image {
    min-height: 275px ;
    .img-responsive {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

// Make the left edge of the "Visit Someone" .input-group have the same radius as the button side....
// Blame Pags Ryan, not me!
.input-group .form-control:not(:first-child):not(:last-child) {
  @include border-left-radius(4px)
}

// Get the image in the CareCurtain to center in the Modal Body.
// Purely visual, (overwiting the dispaly:block on .img-responsive)
#modal-carecurtain {
  .modal-image img {
    display:inline-block;
  }
}