/**
* 'Layered Story' Template
*
*/
//adds margin between the media and its copy in tribox
.tribox-item {
  .tribox-media {
    margin-bottom: 9px; //same as padding on .well-sm
  }
}

/**
 * 'Gallery' Template
 *
 */
//  - Pintrest-inspired disappearing columns layout. (Also used in Guestbook)
.gallery {
  margin: 0 .5em;
  .tribox-shared-story {
    margin: .5em;
  }
}
.shared-stories-container {
  margin: 1em 0 0 0;
}
.shared-stories-container.tiles-gutter1 {
  .custom12 {
    width: 100%;
  }
}
.shared-stories-container.tiles-gutter2 {
  .custom6 {
    width: 50%;
    float: left;
  }
}
.shared-stories-container.tiles-gutter3 {
  .custom4 {
    width: 33.3%;
    float: left;
  }
}
.shared-stories-container.tiles-gutter1 { display: none; }
.shared-stories-container.tiles-gutter2 { display: none; }
@media screen and (max-width: 979px) {
  .shared-stories-container.tiles-gutter2 { display: block; }
  .shared-stories-container.tiles-gutter3 { display: none; }
}
@media screen and (max-width: 500px) {
  .shared-stories-container.tiles-gutter1 { display: block; }
  .shared-stories-container.tiles-gutter2 { display: none; }
  .shared-stories-container.tiles-gutter3 { display: none; }
}

/**
 * Content Region 'static-hero'
 *
 */
.page-hero {
  background: image-path('pager-BG-repeater.png') repeat;
}

/**
 * Content Region 'static-hero-cta'
 *
 */
.cta-bar {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0;
  margin-bottom: 0;
  border-style: solid;
  border-width: 1px 0;
  //Taken from navbar-default to mimic look-and-feel
  border-color: $navbar-default-border;
  @include gradient-vertical($start-color: lighten($navbar-default-bg, 10%), $end-color: $navbar-default-bg);
  @include box-shadow($shadow);
  .cta-copy {
    display: none;
    @media screen and (min-width: 600px) {
      display: inline-block;
    }
  }
  .cta-button {
    .btn {
      font-family: locator;
      font-size: 18px;
      padding: .5em 0;
    }
  }
}
.cta-bar.affix {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  left: 15px;
}

/**
 * Content Region 'shared-story'
 *
 */
//overwrite BS3 blockquote styles for content region 'shared-story'
.tribox-shared-story {
  blockquote {
    border-left: 0;
    margin: 0;
    padding: 0;
    font-size: 1.25em;
    line-height: 1.25em;
    font-family: locator;
    p {
      margin-bottom: .5em;
    }
    small {
      text-align: right;
      font-size: 100%;
      text-transform: uppercase;
      color: $abbey;
    }
  }
}

/**
 * Content Region 'media-block'
 *
 * Don't forget the same markup thats in 'item' and 'chapter'
 *
 * @todo for the future: refactor 'Catalogue' and 'Shared-Story' templates to use media-block, instead duplicating its markup into another region
 */
.media-block {
  margin-top: 20px;
}
//mimic BS3 .img-thumbnail class for embedded videos
.video-frame {
  padding: 4px;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
//a little padding for the click-through (same amount as .well-sm)
.click-through {
  margin: 9px;
}

//push the <small> content to a second line in <h2>s and <h3>s that contain a <small>
.chapter,
.copy-block,
.item {
  h2,
  h3 {
    small {
      display: block;
    }
  }
}

// "separation treatment" for some content regions.
.row.row-bulge {
    background-color: $well-bg; // fallback for IE
    @include background-image(linear-gradient($white, $well-bg));
    border-bottom: 1px solid darken($well-bg, 7%);
    padding: 2em 0;
}