// The slideshow on the tour pages
#carousel-tour {
  @include border-radius(2px);
  background: lighten($gray-lighter, 15%);
  padding-bottom: 36px;
  margin: 1em 0;

  // Moving this down so it doesn't cover the text on the slides
  .carousel-indicators {
    bottom: 4px;
    // Making these be dark on light instead of light on dark
    li {
      border-color: $gray-light;
      margin: 1px 2px;
      &.active {
        background-color: $gray-light;
      }
    }
  }

  // Making these items be narrower so that the image and accompanying text aren't overlayed by the controls
  .item {
    padding: 0 15%;
    margin: 0 auto;
    img {
      @include border-radius(2px);
      margin: 2em 0 1em 0;
    }
  }

  // Round all the things
  .carousel-control {
    &.left {
      @include border-radius(2px 0 0 2px);
    }
    &.right {
      @include border-radius(0 2px 2px 0);
    }
  }
}