/**
 * Log in / Sign up pages
 */
.social-btns {
  .btn {
    margin-bottom: 1em;
  }
}


/**
 * Sign out page
 */
.list-social-media-links {
  font-size: 2.5em;
  a, a:hover {
    text-decoration: none;
  }
}