.btn-label {
  vertical-align: middle;
  padding: $padding-base-vertical $padding-base-horizontal / 2 $padding-base-vertical $padding-base-horizontal;
  float: left;
}

// Breathing room between toolbars and other content (and amongst stacked buttons at smallish screen sizes)
.btn-toolbar {
  .btn {
    margin-bottom: 1em;
  }
}

// Content bumps right up to the border when buttons are "pulled" inside another element.
// These give a little breathing room in those cases. (mostly occurs inside the Media pattern in sites)
.btn.pull-right {
  margin-left: 1em;
}
.btn.pull-left {
  margin-right: 1em;
}

.btn-block {
  padding-left: 12px;
  padding-right: 12px;
  @include box-sizing(border-box);
  white-space: normal;
}

// If multiple toolbars exist inside a .pull-left/right, inline-block them so they stay side-by-side when there's enough room
.pull-left, .pull-right {
  .btn-toolbar {
    @include inline-block;
  }
}