// Primary - "Orange and berry are the primary colors of the CaringBridge palette. Use these to add impact and to brand elements."
$tree-poppy:        #f8971d; // orange
$violet-eggplant:   #a21984; // berry

// Secondary - "The secondary palette consists of a strong supporting cast of seven bright, saturated hues that also evoke feelings of hope and energy. Combine them with orange and berry to create points of interest."
$downy:             #74cbc8;
$flamingo:          #f15d40;
$indigo:            #437cc8;
$key-lime-pie:      #b2bb1e;
$wisteria:          #aa6dae;
$mustard:           #fede52;
$hibiscus:          #ca3162;

// Tertiary - "The range or dark and light colors in our tertiary palette are meant to compliment the primary and secondary palettes without drawing attention to themselves. Use these for neutral backgrounds, text and other subtle additions of color."

//  dark range:
$zombie:            #e8d3a2;
$squirrel:          #8d8178;
$abbey:             #545559;
$trendy-green:      #847a18;
$bahama-blue:       #006990;
$congress-blue:     #004990;
$clairvoyant:       #54075b;
$roof-terracotta:   #af1e26;

//  light range:
$parchment:         #ede3cc;
$pampas:            #efe9e5;
$silver-sand:       #bec0c2;
$catskill-white:    #e4edf2;
$mystic:            #d8e9e8;
$deco:              #d4db90;
$snuff:             #e0d7eb;
$cinderella:        #fcd7cb;

// Extra colors not from marketing
$alabaster:         #f7f7f7;
$sapling:           #dfd0a7;
$mine-shaft:        #333333;
$vista-white:       #f9f3ef;
$wild-sand:         #f5f5f5;
$shark:             #1d1d1e;
$tuna:              #38393c;
$oslo-gray:         #8e8f92;
$french-gray:       #c7c7c8;

//Start adding the more 'mature' color scheme that Branding is starting to roll out Summer 2014
$sandstone:         #797067;
