// Make footer bulge out of its container to fill out to the edge of the page
.navbar-footer {
  @include bulge($grid-gutter-width / 2);
}
.site-links {
  margin-left: -15px;
  > li >a {
    // Add the hover state to match other Nav links
    &:active,
    &:hover,
    &:focus {
      @include box-shadow(inset 0 0 7px 3px darken($navbar-default-bg, 4%));
    }
  }
}
.social-media-links {
  > li {
    display: inline-block;
    @media screen and (min-width: $grid-float-breakpoint) {
      display: block;
    }
    > a {
      padding: 0px 5px 11px 5px;
      &:active,
      &:hover,
      &:focus {
        @include background(none);
      }
      > i {
        font-size: 3.5em;
        @media screen and (min-width: $grid-float-breakpoint) {
          font-size: 2.5em;
        }
      }
    }
  }
}
#footer-youtube {
//add "not as important" SM icon when room allows for it
  display: none;
  @media screen and (min-width: 420px) and (max-width: $screen-sm - 1) {
    display: inline-block;
  }
  @media screen and (min-width: $screen-md) {
    display: inline-block;
  }
}
#footer-linkedin {
//add "really not as important" SM icon when room allows for it
  display: none;
  @media screen and (min-width: 490px) and (max-width: $screen-sm - 1) {
    display: inline-block;
  }
  @media screen and (min-width: $screen-md) {
    display: inline-block;
  }
}
.privacy-seal-list {
  a {
    background-repeat: no-repeat;
    display: block;
  }
  //manually float the privacy seals right when the layout is wide enough for 2 columns of fineprint
  @media screen and (min-width: $screen-md) {
    ul {
      float: right;
    }
  }
}
.truste-seal {
  width: 100px;
  height: 27px;
  background-image: image-path('seal-truste.svg');
  background-size: 100px 27px;
}
.charitynav-seal {
  width: 60px;
  height: 30px;
  background-image: image-path('seal-charityNav.svg');
  background-size: 60px 30px;
}
.bbb-seal {
  width: 80px;
  height: 30px;
  background-image: image-path('seal-bbb.svg');
  background-size: 80px 30px;
}
.no-js, .no-svg {
  .truste-seal {
    background-image: image-path('seal-truste.png');
  }
  .charitynav-seal {
    background-image: image-path('seal-charityNav.png');
  }
  .bbb-seal {
    background-image: image-path('seal-bbb.png');
  }
}