footer.fat-footer, footer.kimbia-footer {
  background-color: $pampas;
  padding: 1em 1em 4em 1em;
  .fat-footer-lists {
    a {
      padding: 5px;
    }
    a:hover,
    a:active,
    a:focus {
      @include background-image(linear-gradient(darken($pampas, 1%), darken($pampas, 3%)));
    }
  }
}
h2.footer-heading {
  font-family: Jubilat;
  font-weight: normal;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  a {
    display: block;
    width: 100%;
  }
}
.email-sign-up {
  .row {
    div[class*="col-"] {
      padding-left:2px;
      padding-right:2px
    }
  }
}
.fine-print {
  margin-top: 1em;
  font-size: .85em;
  color: $gray;
}
.privacy-seal-list {
  a {
    background-repeat: no-repeat;
    display: block;
  }
}
.truste-seal {
  width: 78px;
  height: 25px;
  background-image: image-path('seal-truste.svg');
  background-size: 78px 25px;
}
.charitynav-seal {
  width: 50px;
  height: 25px;
  background-image: image-path('seal-charityNav.svg');
  background-size: 50px 25px;
}
.bbb-seal {
  width: 67px;
  height: 25px;
  background-image: image-path('seal-bbb.svg');
  background-size: 67px 25px;
}
.no-js, .no-svg {
  .truste-seal {
    background-image: image-path('seal-truste.png');
  }
  .charitynav-seal {
    background-image: image-path('seal-charityNav.png');
  }
  .bbb-seal {
    background-image: image-path('seal-bbb.png');
  }
}

// Kimbia Footer is a stripped down version of the Fat Footer. Also Includes a special Disclosure Doc link.
// This is mimicking the way the .fine-print partial in the old Footer was styled.
.kimbia-footer {
  margin-top: 1em;
  .privacy-seal-list {
    ul {
      float: right;
    }
  }
}
