// Make sure all of our images in the media pattern are the same thumbnail size
.media {
  .pull-left {
    display: block;
    width: 50px;
    height: 50px;
    img {
      @extend .img-responsive;
    }
  }
}