.panel-community {
  @include panel-variant(
    $border: $tree-poppy,
    $heading-text-color: $white,
    $heading-bg-color: $tree-poppy,
    $heading-border: $tree-poppy);
  > .panel-heading {
    @include panel-heading-styles(lighten($tree-poppy, 8%));
  }
  .panel-title {
    @include text-shadow(0 -1px 1px rgba(0, 0, 0, 0.1));
  }

  // Give Community invite tabs some breathing room in V5 sites
  .tab-content {
    padding: 1em 0;
  }
}