.create-self {
  display: none;
}

/**
 * ========================
 * Taken from legacy create
 * ========================
 */
.create-or-signin {
  width: 60%;
  margin: 0 auto;
  img {
    width: 200px;
    height: 150px;
    @include border-radius($border-radius-base);
    margin-right: 1em;
    float: left;
  }
  p {
    overflow: hidden;
    vertical-align: top;
  }
  .span3 {
    text-align: right;
  }
}

form#create {
  span.create-self {
    display: none;
  }
  legend + .control-group {
    margin-top: 0;
  }
  #control-group-terms .control-label {
    width: auto;
  }
/*
  #isForSelf {
    width: 284px;
  }
  #name {
    width: 123px;
  }
*/
  @media screen and (min-width: 480px) {
    > fieldset {
      padding-left: 2em;
      legend {
        position: relative;
        .badge {
          position: absolute;
          left: -2.2em;
          top: .5em
        }
      }
    }
  }
  > fieldset {
    legend {
      margin-bottom: 9px;
      position: relative;
      .badge {
        background: $violet-eggplant;
        padding: 2px 6px;
        vertical-align: text-top;
      }
    }
  }
}

#control-group-how-found-other {
  display: none;
}

.brooklyn-bar {
  h1 {
    img {
      margin: 4px 9px 4px 0;
      width: 40px;
      height: 40px;
    }
  }
}
