/**
 * V5 Guestbook styles
 */

// Pinterest tiles
.panel-guestbook {
  @include panel-variant($panel-default-border, $panel-default-text, $white, $panel-default-border);

  // Too much clutter in panels?
  .amplify-action-list {
    display: none;
  }

}

.user-content-container.row-gutter1 { display: none; }
.user-content-container.row-gutter2 { display: none; }
.user-content-container.row-gutter3 { display: block; }

@media screen and (max-width: 979px) {
  .user-content-container.row-gutter1 { display: none; }
  .user-content-container.row-gutter2 { display: block; }
  .user-content-container.row-gutter3 { display: none; }
}

@media screen and (max-width: 320px) {
  .user-content-container.row-gutter1 { display: block; }
  .user-content-container.row-gutter2 { display: none; }
  .user-content-container.row-gutter3 { display: none; }
}



/* Detailed view of a single guestbook post*/
.content-list-guestbook-view {
  .carepost-container {
    margin: 1em 0 1em 0;
    img {
      @include border-radius(1px);
      @include box-shadow(0 4px 8px -4px rgba(0, 0, 0, 0.8));
      display: block;
      margin: 0 auto;
      width: percentage(1/$golden-ratio);
      @media screen and (max-width: 25em) {
        width: auto;
        max-width: 100%;
      }
    }
  }
  .media-container {
    margin: 1em 0 1em 0;
    &.pull-right {
      margin: 0 0 1em 1em;
      max-width: percentage(1/3);
    }
  }
}
