.site-privacy {
  .btn {
    vertical-align: baseline;
    white-space: normal;
    margin-bottom: 1em;
    padding: 6px 12px;
    .h1, .h2, .h3, .h4, .h5, .h6 {
      display: block;
    }
    .privacy-details {
      display: block;
      min-height: 4em;
    }
  }
}
