/**
 * Statistics about site visits, hearts, tributes, etc.
 */
.site-stats {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.6em;
  line-height: 1em;
  .site-stats-visits {
    i {
      color: $indigo;
    }
  }
  .site-stats-hearts {
    i {
      color: $tree-poppy;
    }
  }
  .site-stats-tributes {
    i {
      color: $violet-eggplant;
    }
  }
  @media screen and (max-width: 35em) {
    font-size: 1.2em;
  }
  @media screen and (max-width: 28em) {
    .site-stats-label {
      display: block;
      font-size: .83em;
    }
  }
}
