.panel-tribute {
  textarea {
    height: 60px;
  }
  .panel-title {
    @include text-shadow(0 -1px 1px rgba(0, 0, 0, 0.2));
  }
  .media-object {
    i {
      color: $violet-eggplant;
      font-size: 50px;
      max-width: 50px;
      width: auto;
      max-height: 50px;
      height: auto;
    }
  }
  .img-campaign {
    margin-bottom: 1em;
  }
}