.tribute-header {
  // undo .container padding for tribute heading
  @include bulge($grid-gutter-width / 2);

  // extra padding
  padding-top: 1em;
  padding-bottom: 2em;

  margin-bottom: 1em;

  border-top: 1px solid lighten($violet-eggplant, 50%);
  border-bottom: 1px solid lighten($violet-eggplant, 40%);

  // fallback background
  background-color: lighten($violet-eggplant, 60%);
  background-image: image-url("/assets/images/tribute-flower-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;

  @include background-image(
      linear-gradient(lighten($violet-eggplant, 60%), lighten($violet-eggplant, 50%))
  );

  h1, h2, h3, h4, h5 {
    color: $violet-eggplant;
  }
}

.list-group-tributes {
  .media-object#{$icon-selector} {
    @include inline-block(middle);
    color: $violet-eggplant;
    font-size: 50px;
    line-height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 6px;
  }
}

// Don't display character countdown if JavaScript isn't available
.no-js {
  form#tribute {
    p.help-block {
      display: none;
    }
  }
}