#v3-notifications-inline-toggle {
  margin-bottom: 0.7em;
  > a {
    color: $violet-eggplant;
    &:hover {
      text-decoration: none;
      color: darken($violet-eggplant, 10%);
    }
  }
  &.faux-v5 {
    margin-bottom: 0;
  }
}

#v3-notifications-modal, #v3-notifications-inline {
  .notification-selector {
    border-top: 1px solid lighten($gray-lighter, 10%);
    padding-top: 10px;
    &.second {
      margin-top: 10px;
    }
    .notification-title {
      @include inline-block;
      width: 110px;
      font-weight: bold;
    }
    .notification-options, .notification-options-extra {
      @include inline-block;
      margin-right: 3em;
      vertical-align: top;
    }
    select {
      margin-bottom: 5px;
      width: 130px;
    }
  }
}

#v3-notifications-inline {
  margin-bottom: 0.5em;
  .notification-block {
    padding-left: 17px;
  }
}
