.list-group-profile {

  // Avoid extra right padding on nested list
  .nav-list {
    padding-right: 0;
  }

  #{$icon-selector} {
    margin-right: 2px;
    opacity: 1 / $golden-ratio; // That's the sound of your mind blowing
  }
}

.js .list-group-profile .nav-logout {
  display: none;
}
