table.notifications {
  thead tr.hide-titles {
    visibility: hidden;
  }
  .options {
    text-align: center;
  }
  .category {
    width: 30em;
    visibility: visible;
  }
}

.notifications-menu.dropdown-menu .notification-pref {
  padding: 3px 20px;
  white-space: nowrap;
  color: $text-color;
  margin-left: 20px;
}

.notifications-short-menu .spinner {
  position: absolute;
  left: 18px;
  @include inline-block;
  background: white;
  @include border-radius($border-radius-small);
}

.no-js .notifications-menu > .dropdown-toggle {
  display: none;
}

.inbox .cbicon-mail {
  line-height: 6px;
}

.notification {
  .notification-photo-container {
    display: block;
    float: left;
    margin-right: .5em;
    .notification-photo {
      width: 30px;
      padding: 2px;
      vertical-align: text-top;
    }
  }
}

.all-notifications {
  .time-block {
    margin-bottom: 1em;
    .notification {
      .notification-photo-container {
        margin-bottom: .5em;
      }
    }
  }
}

.notification-private-message {
  .notification-photo-container {
    position: relative;
    .decorative-corner {
      width: 0;
      height: 0;
      border: 16px solid transparent;
      border-color: transparent $white $white transparent;
      border-color: transparent rgba($white, .8) rgba($white, .8) transparent;
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: 2;
    }
    i {
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: 4;
      color: $link-color;
    }
  }
}

.notifications-container {
  font-size: 0.9em;
  li.title {
    padding: 0 1.4em;
  }
  li.time {
    background: lighten($gray-lighter, 10%);
    padding: 0.25em 1.4em;
    color: $gray;
    font-style: italic;
  }
  li.notification {
    width: 400px;
    a {
      white-space: normal;
      @include clearfix;
      padding: 0.5em 1.4em;
      color: $text-color;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
    img {
      float: left;
      margin-right: 0.5em;
      @include border-radius($border-radius-small);
      border: 1px solid $gray-lighter;
      padding: 2px;
    }
  }
}
