#topnav > .inbox .cbicon-mail {
  font-size: 2.2em;
  margin-top: -0.2em;
  vertical-align: top;
}

#profile-lower-content {
  margin-top: 1em;
}

.profile-actions {
  float: right;
}

.attributes {
  list-style: none;
  margin: 1em 0 2em 0;
  padding: 0;
  li {
    margin: .25em 0;
  }
}

.social-actions {
  margin-top: 1em;
  padding-top: 1em;
  @include clearfix;
  .social {
    @include inline-block;
    margin: .25em .5em .25em 0;
  }
}

.bio.user-generated {
  margin: 0 0 1em 0;
}

.profile-thumbs {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
  .profile-thumb {
    margin: 0 0 4px 0;
    width: 60px;
    @include inline-block;
  }
}

.photos {
  a {
    @include inline-block;
    margin: 0 4px 4px 0;
  }
}

.badges {
  .label {
    margin: 0 1em 1em 0;
  }
}

.visit-communities {
  p {
    color: $squirrel;
  }
}

.profile-actions {
  text-align: right;
  margin-bottom: 1em;
}

.social-media {
  li {
    padding: 4px 4px 4px 0;
  }
}

#controls-interests {
  .interests {
    padding: 0.5em 0 0 0;
    a.label {
      padding-right: 0.5em;
      color: $text-color;
      i {
        color: $roof-terracotta;
        font-weight: bold;
        visibility: hidden;
        font-style: none;
        &:before {
          content: "×";
          margin-right: 0.125em;
        }
        margin-right: 0.25em;
      }
      &:hover {
        text-decoration: none;
        i {
          visibility: visible;
        }
      }
    }
  }
}

.suggestions {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
  .title {
    font-weight: bold;
  }
  .location, .visits {
    display: block;
  }
}

.profile {
  @include clearfix;
  list-style: none;
  margin: 0 0 0.5em 0;
  padding: 0;
  img {
    width: 30px;
    height: 30px;
    @include border-radius($border-radius-small);
    float: left;
    margin-right: 0.5em;
  }
}

.popover {
  .close {
    padding: 6px;
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

.private-messages {
  margin-top: 2em;
  clear: both;
  tr.read td {
    font-weight: bold;
  }
  td.from {
    vertical-align: middle;
    color: $squirrel;
    img {
      @include border-radius($border-radius-small);
      width: 30px;
      height: 30px;
    }
  }
}

.no-messages {
  color: $squirrel;
  font-style: italic;
  margin-top: 2em;
}

#controls-location #geo-status {
  margin-top: 0.5em;
}

.geo-location li.separator-below {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid $gray-light;
}

.profile-map {
  margin-bottom: 0.5em;
  border: 1px solid $squirrel;
}

#control-group-photo .actions {
  @include inline-block;
  margin-left: 0.5em;
  a {
    display: block;
    &.remove {
      margin-top: 0.5em;
    }
  }
}

.btn-primary .profile-photo {
  background: rgba(0,0,0,.25);
  padding: 1px;
  border: none;
}
img.profile-photo.profile-photo-medium {
  width: 50px;
  height: 50px;
}

/**
 * div wrapper around all photos coming from social media (facebook, yahoo, etc.) imports
 */
.social-media-photo {
  max-width: 120px;
  margin-bottom: 0.5em;
  img {
    max-width: 100%;
  }
}

.profile-section {
  padding-bottom: 1.5em;
  border-bottom: 4px dotted $gray-lighter;
  margin-bottom: 1.5em;
  &.profile-sites {
    .img-site {
      width: 30px;
    }
    .sites-container {
      .site {
        margin: 1em 1em 1em 0;
        display: block;
        .close {
          margin: 0 0 .5em 1em;
        }
      }
    }
  }
}

.progressive-profile {
  margin: 1em 0;
  border-top: 1px solid lighten($gray-lighter, 10%);
  padding-top: 1em;
  @include clearfix;
  img {
    margin-left: .5em;
    float: right;
  }
}

// Profile layout
.site-activities {
  border-bottom: 1px solid lighten($gray-lighter, 10%);
  padding-bottom: 1em;

  // Don't show the same profile thumb repeatedly on profile page
  &.single-profile {
    .activity-photo-link {
      display: none;
    }
    .activity-item-content {
      padding-left: 0;
    }
  }
}

.profile-content {
  padding: 0 3% 3% 3%;
}

.no-boxshadow .layout-profile {
  border-style: solid;
  border-width: 0 3px 3px 3px;
  border-color: lighten($gray-lighter, 20%);
}

.layout-profile {
  @include box-shadow(0 5px 9px 4px rgba(0, 0, 0, 0.2));
  margin: 0 auto 1em auto;
  @media screen and (max-width: 960px) {
    @include box-shadow(none);
  }
}

.no-geolocation {
  .btn-geo {
    display: none;
  }
}

.life-cycle {
  img {
    margin-bottom: 9px;
  }
  &.life-cycle-in-nav {
    padding: .5em;
    margin: 1em 0;
    border-top: 1px solid $gray-lighter;
    display: none;
  }

  // Move the profile lifecyle under the navbar when we're in the 768px-860px flavor zone
  @media screen and (min-width: 768px) and (max-width: 860px) {
    &.life-cycle-in-nav {
      display: block;
    }
    &.life-cycle-in-aux {
      display: none;
    }
  }
}

.social-connection {
  margin-bottom: 1.5em;
}
