/**
 * /mycaringbridge site "mini-feeds" in profile
 */
#profile-sites {
  .site {
    overflow: visible; /* Avoid menu problem with .media */
    padding-bottom: 1.5em;
    border-bottom: 2px dotted $gray-lighter;
    margin-bottom: 1.5em;

    .media-object {
      width: 35px;
      height: 35px;
    }

    h3 {
      a {
        color: $congress-blue;
        small {
          color: $violet-eggplant;
        }
      }
    }
    .icon-chevron-up, .site-activities {
      display: none;
    }
    &.site-expanded {
      .icon-chevron-down {
        display: none;
      }
      .icon-chevron-up {
        @include inline-block;
      }
      .site-activities {
        @include inline-block;
        margin-bottom: 1em;
      }
    }
    &.disabled {
      opacity: .5;
    }
  }
}
.no-js {
  #profile-sites {
    .site-settings {
      display: none;
    }
  }
}
