.uplift-logo-container {
    padding-top: 10px;
}
.pull-left {
  .img-thumbnail {
    margin: 0 10px 20px 0;
  }
}
.wp-post-image,
.attachment-post-thumbnail
 {
  @extend .img-thumbnail;
  margin: 0 0 1em 0;
}

p.form-allowed-tags {
  display:none;
}
