#content {
    padding: 0 1em;
    .uplift-logo-container {
        line-height: 68px;
        vertical-align: baseline;
        margin: 2em 0;
    }
}

.well {
  background-color: rgba($parchment, .7);
  border: 1px solid rgba($zombie, .7);
}

hr {
    border-top: desaturate(darken($pampas, 2%), 5%) 1px solid;
}




.wp-post-image {
  @extend .img-thumbnail;
  margin: 0 0 1em 0;
}

.attachment-post-thumbnail {
  @extend .img-thumbnail;
  margin: 0 0 1em 0;
}






h1 > a:hover, h3 > a:hover {
    color: darken($tree-poppy, 15%);
    text-decoration: undeline;
}

h2 > a:hover {
  color: darken($violet-eggplant, 15%);
  text-decoration: underline;
}

h4 > a:hover {
  color: darken($text-color, 15%);
  text-decoration: underline;
}


.post {

}






@media (max-width: 767px) {
  .row-fluid {
    .thumbnail {
      min-height: 40px;
      > img {
        display: inline-block;
        width: 41.6%;
        vertical-align: top;
      }
      .caption {
        display: inline-block;
        width: 52.4%;
        padding: 0 0 0 1em;
        vertical-align: top;
      }
    }
  }
}

@media (max-width: 600px) {
    .row-fluid {
        .thumbnail {
            .caption {
                padding: 0 0 0 1em;
            }
        }
    }
 }

@media (max-width: 500px) {
    .row-fluid {
        .thumbnail {
            > img {
                display: block;
                margin: 0;
                width: auto;
                vertical-align: middle;
            }
            .caption {
                display: inline-block;
                width: 100%;
                padding: 1px;
                vertical-align: middle;
            }
        }
    }
}


#happy-little-trees {
  background: #fff url(../img/blog-BG-repeater.png) bottom left repeat-x;
  @include background(url(../img/blog-BG-repeater.png) bottom left repeat-x, #fff );
  height: 309px;
  @media (max-width: 768px) {
    display: none;
  }
}










p.form-allowed-tags {
  display:none;
}


.alert-info{
  border-color:  #006990;
  background-color:  #e8f2f2;
  background-image: url("../img/icon_information.png");
}

.alert-error {
  border-color: #f15d40;
  background-color: #fdeae3;
  background-image: url("../img/icon_error.png");
}

.alert {
  @include border-radius(3px);
  padding: 13px 35px 4px 42px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin-bottom: 18px;
  background-position: 1em 1em;
  background-repeat: no-repeat;
  text-shadow: none;
  color: $mine-shaft;
  margin:0;
  line-height: 1.5em;
}