.logged-in-as {
  @extend .alert;
  @extend .alert-info;
  a {
    @extend .alert-link;
  }
}
.form-submit {
  #submit {
    @extend .btn;
    @extend .btn-primary;
  }
}
ul.children {
  padding: 0;
  .list-group-item {
    @include border-radius(0);
    padding-left: 75px;
    background: #f7f7f7;
  }
}