//AddThis Plug-In
.social-sharing {
  h2 {
    display: inline-block;
  }
  .sharing-buttons {
    display: inline-block;
  }
}
//WP-Paginate Plug-In
.pagingNav {
  text-align: center;
  .wp-paginate {
    @extend .pagination;
  }
}
// YARPP Plug-In
.attachment-post-thumbnail {
  @extend .img-thumbnail;
  margin: 0 0 1em 0;
}