//Hide this part of the Comment Form that we don't use better than WP hides it.
#reply-title {
  display: none;
}
//Strip some stock typography styles away to visually align the Byline and SocialSharing on top of single posts
header {
  p {
    margin: 0 0 0 0;
  }
}
//Same as reason as above, but not nested in <header> so it touches the SocialSharing below Post as well.
.social-sharing {
  p {
    margin: 0 0 0 0;
  }
}
//Comment Form Pattern from v5 hangs this margin on <form>, which we can;t do in WP because of how the Comment Form in rendered by Core.
.comment-form {
  .media.media-offset .pull-left {
    margin-top: 2em;
  }
}
