/**
 * This is pulled from legacy bs2 @todo: clean it up and separate it out at some point
 */
#calendar-controls {
  margin-bottom: 1em;
}

#calendar-relative-controls {
  display:inline;
}

#calendar-views {
  display:inline;
  float:right;
  text-align: right;
}

.task-mini-time {
  font-size: 0.8em;
  font-weight: bold;
  color: $gray-dark;
}

.calendar-container {


  .task-item {
    overflow: hidden;
    text-overflow: ellipsis;
    @include inline-block;

    white-space: nowrap;
    max-width: 100%;
  }

  &.monthly {
    table {
      table-layout: fixed;
      width: 100%;
      thead {
        th {
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      tbody {
        th {
          width: 10%;
          text-align: right;
        }
        td {
          width: 13%;
          height: 6em;
          .tasks {
            a.task-item {
              padding: 0 0 .2em 0;
              margin: 0;
              @include inline-block;

              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  &.weekly {
    position: relative;
    .calendar-row {
      .timeslot-hour {}
      .timeslot {}
    }
    .timeslots {
      padding-left: 4em;
    }
     .timeslot {
      width: 13.8%;
    }
    .timeslot, .timeslot-hour {
      @include inline-block;
      border: 1px solid $gray-light;
      vertical-align: top;
      margin: 0 -1px -1px 0;
      padding: .4em 0;
    }
    .timeslot-hour {
      width: 4em;
      font-weight: bold;
      float: left;
    }
    .calendar-heading-sticky {
      $box-shadow: "rgba(255,255,255,1) 0 12px 12px -12px, rgba(0,0,0,.2) 0 4px 4px -4px";
      @include box-shadow($box-shadow);
    }
    .calendar-heading {
      .timeslot-hour, .timeslot {
        height: 1.2em;
        text-align: center;
        font-weight: bold;
        background: $gray-lighter;
      }
    }
    .calendar-heading-sticky {
      .all-day {
        .timeslot-hour, .timeslot {
          height: 5.5em;
        }
      }
    }
    .calendar-body {
      padding-bottom: 4px;
      @include box-shadow(inset 0 -12px 12px -12px $gray-lighter);
      height: 600px;
      overflow: auto;
      .calendar-body-keep-it-together {
        position: relative;
        .calendar-row {
          .timeslot-hour {
             text-align: right;
             .timeslot-hour-contents {
               padding-right: .4em;
             }
          }
          .timeslot-hour, .timeslot {
            height: 5.5em;
          }
          .timeslot {
            a.task-item {
              padding: 0 0 .2em .4em;
              margin: 0;
              @include inline-block;
              white-space: nowrap;
              width: 94%;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }

 table {
    table-layout: fixed;

    .hour-label {
      font-weight: bold;
      width: 4em;
    }
  }

  &.daily {
    height: 400px;
    overflow: scroll;
    .all-day {
      .task-container {
        margin: 0 0 3px 0; padding: 2px;
        &:last-child {
          margin: 0;
        }
      }
    }
    table {
      table-layout: fixed;
      tbody {
        th {
          width: 3em;
          text-align: right;
        }
        td {
          .hour-label {
            font-weight: bold;
            width: 4em;
    }

        }
      }
    }
  }

  td.not-this-month {
    color: $gray;
    background: $gray-lighter;
  }

}

.ie7 .calendar-container.daily {
  height: auto;
}

// IE7 doesn't get scrollable calendars
.ie7 .weekly.calendar-container .calendar-body {
  height: auto;
  overflow: visible;
}

.agenda {

  @include border-radius($border-radius-small);

  table {
    table-layout: fixed;

    .hour-label {
      font-weight: bold;
      width: 4em;
    }
  }

  .agenda-day {
    border-top: 1px solid $gray-light;
    padding: .5em 0 1em 0;

    &:nth-child(even) {
      background: $vista-white;
    }

    @include clearfix;

    .agenda-date {
      font-weight: bold;
    }

    .agenda-tasks {
      .agenda-task {
        margin-bottom: 1em;
        .agenda-task-time {
          font-weight: bold;
        }

        .agenda-task-container {
          .task-link { display: block; }
          .task-description {}
        }
      }
    }
  }
}

.task-timesummary { display: block; }
.task-assigned { font-style: italic; display: block; font-size: 10px; }

a.task-item {
  @include border-radius($border-radius-small);

  &.loading {
      padding-right: 22px;
      background: transparent url("/img/busy.gif") right center  no-repeat;
  }
}

.task-item-wrapper {
  z-index: 0;
}

.task-item-wrapper:hover a.task-item {
  background: $gray-lighter;
  text-decoration: underline;
}

.task-preview {
  position: absolute;
  z-index: 1;

  .link-cover {
    width: 230px;
  }

  .task-preview-container {
    position: absolute;

    .task-preview-arrow {
      left: 50%;
      margin-left: -10px;
      height: 13px;
      width: 25px;
      display: block;
      position: absolute;
      background-color: transparent;
      background-repeat: no-repeat;
      top: 0;
      background-image: url("/img/info-bubble-arrow-up.png");
      background-position: center top;
      z-index: 5;
    }

    .task-preview-bubble {
      background: $white;
      position: absolute;
      display: block;
      border: 2px solid $gray-light;
      width: 200px;
      margin: 0;
      padding: 1em;
      @include box-shadow(0 0 6px $gray-light);
      @include border-radius(6px);
      top: 11px;
      position: relative;
      z-index: 3;

      .guts {
        z-index: 7;
      }
    }
  }

}

#available-tasks, #assigned-tasks {
  max-height: 200px;
  overflow: auto;
  // .minimalist-scrollbar;
  margin-bottom: 2em;
}

.keep-it-together > p { padding-left: 10px; }

#your-tasks {
  max-height: 200px;
  overflow: auto;
  // .minimalist-scrollbar;
}

a.invite {
  margin-right: 1em;
  width: 144px;
  img {
    width: 144px;
    @include inline-block;

  }
}

.more-tasks-container { display: none; position: absolute; width: 250px; padding: 5px;
    border: 3px solid #c0c0c0; background: white; border-top: 3px dashed #c0c0c0; }
.more-tasks-container .show-all { display: block; margin-top: 5px; font-weight: bold; }

.meridiem { font-size: 0.8em; font-weight: bold; color: #666; }

.edit-container {
  margin-top: 8px;
}

.character-counter {
  margin: .5em 0;
  .character-count {
    font-size: 1.2em;
    font-weight: bold;
  }
}

#activity-stream { list-style: none; margin: 0; text-transform: none !important;
    border-top: 2px dotted #d0d0d0; padding-top: 10px; }
#activity-stream > li { padding: 3px 0; border-bottom: 1px solid #d0d0d0; margin: 0 0 5px 0; }
#activity-stream > li > .user-item { font-weight: bold; }
#activity-stream > li#activity-stream-pagination { border: 0; margin: 0; padding: 0; }
#activity-stream > li.spinner { text-align: center; }

form#invite .hint { width: 470px; }
form#invite .form-actions { padding-left: 0; }

.export-link { float: right; }
.export-link > img { width: 14px; height: 14px; position: relative; top: 2px; padding-right: 3px; }

#contact-list {
  // Prevent long cell contents from changing the width of the table
  table-layout: fixed;
  width: 100%;
  // Force long cell contents to be wrapped
  word-wrap: break-word;
  tbody {
    tr {
      th {
        background: $white;
        border-style: dotted;
        border-width: 1px 0 0 0;
        color: $gray-light;
        vertical-align: top;
        text-align: center;
        width: 2em;
      }
    }
  }
}

form .control-group .controls .control-list label {
  width: auto;
}

::-moz-selection{ background: $abbey; color:#fff; text-shadow: none; }
::selection { background: $abbey; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: $abbey; }

// Prevent long user input from breaking design
.user-generated {
  word-wrap: break-word;
  text-transform: none;
}

#seals a img {
  width: auto;
  max-width: none;
}

.no-js #control-group-has-site {
  display: none;
}

#control-group-has-site {
  label {
    vertical-align: middle;
    input {
      margin-right: 4px;
      vertical-align: top;
    }
  }
}

#invite-list-scroll-hack {
    max-height:250px;
    margin-bottom: 1.5em;
}

#invite-list-scroll-hack table {
    margin: 0;
}

a.ical {
  padding: 6px 0 6px 28px;
  background: transparent url("/img/icon_ical.jpg") no-repeat left center;
  font-size: .85em;
  line-height: 28px;
  margin-left: 2em;
}

dd a.ical {
  margin-left: 3em;
}

.btn-container, .button-container {
  @include clearfix;
  text-align: center;
  word-wrap: break-word;
}

#primary-planner-navigation {
  .btn-container, .button-container {
    margin-bottom: 1em;
  }
  li {
    #{$icon-selector} {
      font-size: 30px;
      width: 40px;
      text-align: center;
    }
    span {
      @include inline-block;
      margin-top: -10px;
    }
    a {
      padding: 2px;
    }
  }
}

#planner-navigation-add-task, #planner-navigation-calendar, #planner-navigation-community-members {
  a {
    #{$icon-selector} {
      margin-left: 0;
      font-size: 30px;
    }
  }
}

.no-js #build-your-planner a.close {
  display: none;
}

a.rss {
  padding: 4px 0 4px 16px;
  background: transparent url("/img/icon_rss.png") no-repeat left center;
  font-size: .85em;
}

ol.ol-todo {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
  > li {
    position: relative;
    margin: 0 0 6px 3em;
    padding: 4px 8px;
    list-style: none;
    > a {
      &:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        top: -2px;
        left: -2.2em;
        @include box-sizing(border-box);
        width: 2em;
        margin-right: 8px;
        padding: 4px;
        color: $white;
        background: $link-color;
        font-weight: bold;
        text-align: center;
        @include border-radius(1em);
      }
      &:hover, &:focus {
        &:before {
          background: $link-hover-color;
        }
      }
      &:active:before {
        background: $link-hover-color;
      }
    }
  }
}

// Show default ol numbers to browsers that don't support :before (IE7 and below)
.no-generatedcontent ol.ol-todo li {
  list-style: decimal;
  color: $link-color;
}

.heading-link-combo {
  h1, h2, h3, h4, h5, form, p, a, input {
    @include inline-block;

    vertical-align: baseline;
  }
  a, input.fake-link {
    margin-left: 1em;
  }
}

.call-to-action {
  background: $gray-lighter;
  font-weight: bold;
  border: 1px solid $gray-light;
  @include border-radius(3px);
  padding: 5px;
  margin-bottom: .8em;
  p, form {
    margin: 0;
  }
}

input.fake-link {
  background: transparent;
  color: $link-color;
  padding: 0;
  margin: 0;
  @include box-shadow(none);
  @include text-shadow(none);
  font-weight: normal;
  border: none;
}

.has-tasks-indicator {
  display: none;
}

@media (max-width: 479px) {
	 .calendar-controls-condensed {
            display: none;
            }

}

@media (max-width: 640px) {

  #calendar-views .weekly, .calendar-container.weekly {
    display: none;
  }

  .calendar-container.daily, { height:auto; }
  .scrollable { overflow: visible; }

  .calendar-container.monthly {
    table {
      thead {
	      th {
	        .day-fluff {
              display: none;
            }
	      }
      }
      tbody {
        tr {
          td {
            height: 2em;
            .tasks {
              display: none;
            }
            a.daily-link {
              display: block;
              width: 100%;
              height: 100%;
            }
            &.has-tasks {
              background: $catskill-white;
              .has-tasks-indicator {
                display: block;
                font-size: 2em;
                padding-left: .1em;
                color: $congress-blue;
                &:hover, &:focus {
                  text-decoration: none;
                  color: $congress-blue;
                }
              }
            }
          }
        }
      }
    }
  }
}

/**
 * Encapsulates the from date/time -> to date/time controls
 */
.controls-range {
  margin-bottom: 0.5em;
}

#task-fields {
  &.loading {
    border: 1px solid lighten($gray-lighter, 10%);
    background: $alabaster;
    margin: 1em 0;
    text-align: center;
    small {
      font-style: italic;
    }
  }
  .spinner {
    margin: 2em 0;
  }
}

form#task {
  .select-date {
    margin-right: 0.5em;
  }
  .select-date[type="date"] {
    margin-right: 3.5em;
  }
  .controls-range .to {
    margin: 0 0.5em;
    @include inline-block;
    vertical-align: middle;
  }
  #end-date, .show-end-date {
    margin-left: 0.5em;
  }
}
.js #end-date {
  display: none;
}
.no-js .show-end-date {
  display: none;
}

#controls-when > label[for="all-day"] {
  @include inline-block;
  white-space: nowrap;
}

#other-calendar-formats {
  margin-bottom: 1em;
}

// Lend a Hand / Add a Task button
.btn-task-create {
  margin-bottom: .5em;
  @media (max-width: 479px) {
    float: none;
    display: block;
  }
}

// Make datepicker month not be white text on white background
.ui-datepicker {
  select.ui-datepicker-month {
    color: $text-color;
  }
}
