.body-admin {
  background: url('/assets/images/heart-pattern.png') repeat;
  padding-bottom: 10em; // make sure low-hanging dropdown menus don't get cut off
  .logo {
    max-height: 18px;
    height: auto;
  }
}

.content-engineering {
  background: url('/assets/images/cheetah.jpg') no-repeat right bottom; // never forget
  padding-bottom: 182px;
}

.layout-admin {
  background: #fff;
  @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
  padding-top: 1em;
  padding-bottom: 1em;
}

.navbar {
  .navbar-brand {
    width: auto;
  }
}