/**
 * This is a hodgepodge of styles that should be split up and recategorized
 */

/**
 * Admin Panel Layout Shadowbox
 */
/*
.navbar-fixed-top .container {
  width: 100%;
  margin: 0 10%;
}
.layout.layout-admin {
  margin: 40px auto 1em auto;
  padding-top: 1em;
  @include box-shadow(0 5px 9px 4px rgba(0, 0, 0, 0.2));
}
.layout-inner {
  padding: 1em;
  min-height: 200px;
}
*/

/**
 * Main page intro sections
 */
.admin-intro-section {
  float: left;
  width: 50%;
  h3 {
    padding: 0;
    margin: 0;
  }
  .inner {
    @include box-shadow(0 2px 2px 1px rgba(0, 0, 0, 0.2));
    margin: 0 1em 1em 0;
    border: 1px solid $gray-lighter;
    padding: 1em;
    height: 80px;
    @include border-radius($border-radius-base);
  }
}


.migrations {
  .migration {
    h4 {
      height: 34px;
    }
    .dates {
      color: $gray;
    }
  }
}


#admin-content-regions {
  .from, .to {
    text-align: right;
  }
  td.from, td.to {
    color: #888;
  }
  .approved, .priority {
    text-align: center;
  }
  .priority {
    color: $gray-light;
  }
}

#admin-site-map, #admin-content-regions {
  .description {
    color: $gray-light;
    font-style: italic;
    @include ellipsis;
  }
  tr.no-data td {
    text-align: center;
    color: $gray-light;
    font-style: italic;
  }
  th {
    background: $alabaster;
  }
  a.global {
    font-weight: bold;
  }
  .approved {
    color: $trendy-green;
    font-size: 0.9em;
  }
  .unapproved {
    color: $gray;
    font-size: 0.9em;
  }
}

.hidden {
  display: none;
}

#start-date {
  margin-right: 0.5em;
}

.js #end-date {
  display: inline;
  margin-left: 0.5em;
}
.show-end-date {
  display: none;
}

.date-posted {
  color: $gray-light;
}

form#content-region {
  .control-label {
    width: 80px;
  }
  .controls {
    margin-left: 100px;
  }
  #control-group-content {
    .control-label {
      display: none;
    }
    #controls-content {
      margin-left: 0;
    }
    margin-top: 0;
  }
}

#admin-content-regions {
  .location {
    color: $gray-light;
    padding-left: 1em;
  }
}

.task-spinner {
  float: left;
  margin-right: 1em;
}

.test-status {
  &.test-pass {
    color: $key-lime-pie;
    font-weight: bold;
  }
  &.test-fail {
    color: $roof-terracotta;
  }
}

#admin-pages {
  .region, .template {
    text-align: center;
  }
}

.control-text {
  padding-top: 5px;
}

.site-profile-role {
  .role-select-edit {
    color: $text-color;
    display: block;
    > .edit {
      visibility: hidden;
      color: $link-color;
      float: right;
    }
  }
  &:hover .role-select-edit {
    text-decoration: none;
    background: lighten($mustard, 30%);
    > .edit {
      visibility: visible;
    }
  }
}

.table-tributes {
  .tribute-id {
    font-size: 11px;
    text-align: right;
  }
  .tribute-status {
    font-size: 0.8;
    font-weight: bold;
    text-align: center;
    color: $gray-light;
  }
  .tribute-date {
    text-align: right;
  }
  .tribute-message {
    @include ellipsis;
    max-width: 300px;
  }
}

.table-guestbooks, .table-tributes, .table-journals, .table-tasks {
  tr.deleted td {
    text-decoration: line-through;
    @include opacity(0.5);
  }
  .guestbook-when, .tribute-when, .journal-when, .task-when {
    text-align: right;
    font-size: 0.8em;
  }
  .guestbook-action {
    text-align: center;
  }
  .guestbook-site, .guestbook-user {
    width: 20%;
  }
  .guestbook-action, .journal-action, .tribute-action {
    white-space: nowrap;
  }
}

#admin-photos {
  .photo-tile {
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    @include inline-block;
  }
}

ul.list-pages {
  li {
    list-style: none;
    padding: 0 0 0.5em 0;
    margin: 0;
    i {
      color: $bahama-blue;
    }
  }
}

#page-content {
  .accordion-heading {
    @include border-radius($border-radius-small);
    background: $indigo;
    a, a:visited, a:hover {
      text-decoration: none;
      color: white;
      h4 {
        white-space: nowrap;
        margin: 0;
        @include inline-block;
        small {
          margin-left: 1em;
          color: $mustard;
          white-space: nowrap;
          font-weight: bold;
        }
      }
      .icon-chevron-down, .icon-chevron-up {
        float: right;
      }
      .icon-chevron-up {
        display: none;
      }
    }
  }
  .accordion-group.expanded {
    .accordion-heading a {
      .icon-chevron-up {
        display: block;
      }
      .icon-chevron-down {
        display: none;
      }
    }
  }
  .accordion-heading.error {
    background: $roof-terracotta;
  }
  .accordion-general {
    .accordion-heading {
      background: lighten($gray-lighter, 10%);
      a, a:visited, a:hover {
        color: black;
        h4 small {
          color: $gray-light;
          font-weight: normal;
        }
      }
    }
  }
}

#page-controls {
  margin-left: 1em;
}

#page-diff {
  .title {
    background: $indigo;
    color: white;
  }
  th.before {
    color: $congress-blue;
  }
  th.after {
    color: $trendy-green;
  }
  td.before, td.after {
    width: 50%;
    pre {
      overflow: auto;
      max-height: 200px;
    }
  }
}

table#admin-users {
  td.photo, th.photo {
    width: 40px;
  }
  .priv {
    padding: 0 20px;
    .spinner {
      float: left;
      margin-left: -20px;
    }
  }
  .action {
    width: 100px;
  }
}

#pages-container, #message-types-container {
  padding: 0.5em;
  margin: 10px 0 0 0;
  border: 1px solid $gray-lighter;
  background: lighten($gray-lighter, 20%);
  li {
    list-style: none;
    padding: 3px 0 0 0;
    margin: 3px 0 0 0;
    border-top: 1px dotted $gray-lighter;
    &:first-child {
      margin: 0;
      padding: 0;
      border: 0;
    }
  }
}

.rules-container {
  legend {
    @include clearfix;
    padding-bottom: 5px;
  }
  .add-container {
    @include inline-block;
    float: right;
    select {
      margin-bottom: 0;
    }
  }
  .rules-table {
    th {
      background: $alabaster;
    }
    .card {
      width: 80px;
      text-align: center;
    }
    .action {
      text-align: center;
      width: 50px;
    }
  }
}

.questions-container {
  legend {
    @include clearfix;
    padding-bottom: 5px;
  }
  .add-container {
    @include inline-block;
    float: right;
    select {
      margin-bottom: 0;
    }
  }
  .questions-table {
    th {
      background: $alabaster;
    }
    .action {
      text-align: center;
      width: 50px;
    }
  }
}

.preview-attribution {
  border-bottom: 1px solid lighten($gray-lighter, 10%);
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  color: $gray;
}

.preview-body {
}

table#new-pages {
  .actions {
    text-align: right;
  }
}

.ecomm-tiles {
  .ecomm-tile {
    border: 1px solid $gray-lighter;
    @include border-radius(12px);
    @include box-shadow(1px 2px 2px 1px rgba(0, 0, 0, 0.2));
    padding: 1em;
    text-align: center;
    span {
      font-family: courier;
      font-size: 1.5em;
    }
    .muted {
      margin-top: 8px;
    }
  }
}

#ecomm-mini-tiles {
  .ecomm-mini-tile {
    float: left;
    width: 180px;
    border: 1px solid $gray-lighter;
    @include box-shadow(1px 2px 2px 1px rgba(0, 0, 0, 0.2));
    padding: 5px;
    @include border-radius($border-radius-base);
    margin: 0 8px 8px 0;
    height: 42px;
    code {
      float: left;
      margin-right: 8px;
    }
    .ttl {
      @include inline-block;
      @include ellipsis;
    }
  }
}

.admin-cards {
  .media.disabled {
    background: $gray-lighter;
    @include opacity(.9);
  }
  .media-object {
    max-width: 10%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

td.name {
  a {
    .mini-thumb {
      width: 2em;
      height: 2em;
    }
  }
}

td.order {
  text-align: right;
  padding-right: 1em;
  font-family: monospace;
  width: 3em;
  font-size: .8em;
}

td.availability {
  &.availability-expired {
    background: lighten(mix($gray-lighter, $cinderella), 10%);
    color: mix($gray-light, $flamingo);
  }
  &.availability-current {
    background: lighten($deco, 15%);
    color: $trendy-green;
  }
  &.availability-queued {
    background: lighten($downy, 25%);
    color: $congress-blue;
  }
}

.extra {
  margin-bottom: .5em;
}

// Form for *editing* universal banner gets universal banner styles... so undo that
form#universal-banner {
  @include box-shadow(none);
}