/*
 * Hack to make file input happen when clicking on container button
 */
.btn-upload {
  overflow: hidden;
  input[type="file"] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
  }
}